<div class="product-section">
    <div class="row product-container">
      <div class="product-detail">
        <div class="section-left">
          <div class="discount-detail">
            <p class=" btn btn-warning">20%</p>
          </div>
          <img src="../../asset/photo/clothe.png" class="Big-image" alt="">
          <div class="row img-row">
            <img src="../../asset/photo/clothe.png" class="small-image" alt="">
            <img src="../../asset/photo/clothe.png" class="small-image" alt="">
            <img src="../../asset/photo/clothe.png" class="small-image" alt="">
          </div>
        </div>
        <div class="section-right">
          <div class="description">
            <div class="top-row">
              <h4 class="product-name">White T-shirt - Nike</h4>
              <div class="prices-tag">
                <p class="price" style="color: red; text-decoration: line-through;">15$</p>
                <p class="price" style="color: green;">12$</p>
              </div>
            </div>
            <p>Nike Women Pink Half Zip Lightweight Hooded Shirt top Athletic Stretch Size M</p>
          </div>
          <div class="button-container">
            <button class="cart-butoon" type="button"><i class="fas fa-shopping-cart"></i>Cart</button>
            <div class="tag-row">
              <button type="button" class="btn btn-light tag-left" >Male T-shirt</button>
              <button type="button" class="btn btn-light tag-right">Single Color</button>
            </div>
          </div>
        </div>
      </div>
      <!-- comment section -->
      <h3 class="comment-title">comments</h3>
      <!--comment-->
      <div class="comment-container">
        <div class="comment-infor">
          <div class="Profile" style="font-size: 2rem;">
            <i class="far fa-user-circle"></i>
          </div>
          <div class="comment-tag">
            <a href="#">Anonymous</a>
            <p class="Date">Today 4:21pm - 12.6.2020</p>
          </div>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
      <!--input-->
      <div class="input-container">
        <fieldset class="comment-input">
          <legend class="input-title" style="font-size: 20px;">Write your review here</legend>
          <textarea class="comment-box" name="name" rows="8" cols="80"></textarea>
        </fieldset>
      </div>


    </div>
    <!--send button-->
    <div class="buttons-container">
      <div class="button">
        <button class="Send"><i class="fas fa-share fa-flip-horizontal"></i> Send</button>
      </div>
      <div class="button">
        <button class="Discard"><i class="fas fa-times"></i> Discard</button>
      </div>
    </div>
  </div>