<div class="product col-lg-3 col-md-12">
    <a class="product-link" href="product pag.html">
      <div class="discount">
        <p class=" btn btn-warning">20%</p>
      </div>
      <img src="..\..\asset\photo\loader.gif" class="lazy product-image" data-original="../../asset/photo/clothe.png">
      <div class="product-description">
        <p>
          Nike Women Pink Half Zip Lightweight Hooded Shirt top Athletic Stretch Size M
        </p>
      </div>
      <div class="prices">
        <p style="color: red; text-decoration: line-through;">15$</p>
        <p style="color: green;">12$</p>
      </div>
      <div class="cart">
        <button class="cart-butoon" type="button">
          <i class="fas fa-shopping-cart"></i>
          Cart
        </button>
      </div>
    </a>
  </div>